fastapi==0.110.0
sqlalchemy==2.0.28
psycopg2-binary==2.9.9
pydantic==2.6.4
uvicorn==0.29.0
greenlet==3.0.3
alembic>=1.13.1
asyncpg>=0.29.0
python-jose[cryptography]>=3.3.0
passlib[bcrypt]>=1.7.4
libgravatar>=1.0.4
slowapi>=0.1.9
fastapi-mail>=1.4.1
cloudinary>=1.41.0